body{
    min-width: 60%;
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(250, 3, 234);
    padding: 2%;
}

h1{
    color: pink;
}

#task{
    padding: 2% 5%;
    border-color: pink;
}

#submit{
    padding: 2% 5%;
    border-color: pink;
    background-color: pink;
    color: white;
}

.ongoing{
    color: pink;
}

.completed{
    text-decoration: line-through;
    color: rgb(71, 69, 69);
}

a:link, a:visited, a:active {
    text-decoration:none;
}

li{
    float: left;
}